/*====SECTION====*/
section h1{
    text-align: center;
    font-size: 55px;
}

section h3{
    text-align: center;
    font-size: 30px;
}

section h3, h1, .histoire, h4{
    padding: 20px;
}

h4{
    text-align: center;
    padding-left: 30px;
}

section .histoire p{
    text-align: center;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
}

iframe{
    display: block;
    height: 260px;
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.gallery::after {
    content: none;
}

#img-avignon-chateau{
    height: 190px;
    float: right;
}