/*====SECTION====*/
section h1{
    text-align: center;
    font-size: 55px;
}

section h3{
    text-align: center;
    font-size: 30px;
}

section h3, h1, .histoire{
    padding: 20px;
}

section .histoire p{
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
}

.map{
    display: block;
    height: 260px;
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.video_musée{
    display: block;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
}
/* ===TABLE==== */
.tab{
    display: flex;
    flex-wrap: wrap;
}

table{
    margin: 0 auto;
    width: 300px;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
}

table th{
    height: 35px;
    text-transform: uppercase;
    background-color: rgba(130, 130, 130, 0.527);
}

table td{
    height: 23px;
}

table th, td, caption{
    border: solid black;
}

.week-end{
    background-color: #BAA98A;
}

#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
}

#scroll_to_top img {
    width: 35px;  
}